@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    animation: fade-down 0.75s ease-in-out forwards;
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-right {
    animation: fade-right 0.75s ease-in-out forwards;
}
@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-left {
    animation: fade-left 0.75s ease-in-out forwards;
}
@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-up {
    animation: fade-up 0.75s ease-in-out forwards;
}
