---
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/TopNav.astro";
import Socialpill from "../components/Socialpill.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import Mailicon from "../components/icons/Mail.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import Discord from "../components/icons/Discord.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <TopNav />
  <div class="max-w-[90%] mx-auto flex justify-between mb-20 mt-40">
    <section class="max-w-[50%] mt-20">
      <h2 class="text-5xl pb-8">Soy <span class="font-bold">Joseph!</span></h2>
      <p class="text-xl text-pretty w-[90%]">
        "programador especializado en Fronted y backend: el tipo que hace que
        todo funcione detrás de escena, aunque nadie lo vea... excepto cuando
        falla."
      </p>
      <nav class="flex gap-x-4 mt-6">
        <Socialpill>
          <LinkedinIcon class="size-4" />Linkedin
        </Socialpill>
        <Socialpill href="https://github.com/1amJoseph">
          <GithubIcon class="size-5" />Github
        </Socialpill>
        <Socialpill href="https://discord.com">
          <Discord class="size-4" />Discord
        </Socialpill>
        <Socialpill>
          <Mailicon class="size-4" />joseph.dev.cigarettes@gmail.com
        </Socialpill>
      </nav>
    </section>
    <section class="flex items-center max-w-[50%] justify-end"></section>
  </div>
  <div class="max-w-[90%] mx-auto">
    <section>
      <h2 class="text-3xl font-semibold">Experiencia</h2>
    </section>
    <section>
      <ul>
        <section class="w-[30%]">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo porro
          alias, pariatur nobis sunt blanditiis obcaecati quidem quis dicta, ut
          expedita fuga mollitia praesentium necessitatibus laborum illo
          voluptates deserunt ex.
        </section>
      </ul>
    </section>
  </div>
  <div class="max-w-[90%] mx-auto flex items-center">
    <h2 class="text-4xl font-semibold mr-12">Proyectos</h2>
  </div>
</Layout>
