<section
  class="m-auto pt-2 flex justify-between max-w-[90%] items-center mb-24"
>
  <section>
    <img src="/pfp.jpg" alt="Profile photo" class="size-14 rounded-full" />
  </section>
  <nav>
    <ul class="flex gap-x-8">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</section>
